html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-attachment: fixed;
}

#appbar {
    display: none;
}

#loadingdiv {
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /*水平轴*/
    align-items: center;
    /*垂直轴*/
    margin: 0px
}

.card {
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border-radius: 2px;
    padding: 16px;
}

.drawer_light {
    background-color: #FFF;
}

.drawer_dark {
    background-color: #424242;
}

.card_light {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    margin: 16px;
}

.card_dark {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    margin: 0px;
}

.body_light {
    background: url('https://api.oneneko.com/v1/bing_today') center no-repeat;
    background-size: 100% 100%;
}

.body_dark {}

@media (prefers-color-scheme: dark) {
    .drawer_auto {
        background-color: #424242;
    }

    #loadingdiv {
        background-color: #424242;
    }

    .card_auto {
        background-color: rgba(0, 0, 0, 0);
        box-shadow: none;
        margin: 0px;
    }
}

@media (prefers-color-scheme: light) {
    .drawer_auto {
        background-color: #FFF;
    }

    #loadingdiv {
        background-color: #FFF;
    }

    .card_auto {
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
        margin: 16px;
    }

    .body_auto {
        background: url('https://api.oneneko.com/v1/bing_today');
        background-size: 100% 100%;
    }
}

.radius {
    border-radius: 20px;
}